<h1 style="color: blue">collection.handle: {{ collection.handle }}</h1>
{% if collection.handle == 'all' %}
	<script>window.location.replace("/");</script>
{% else if collection.handle == 'NFT' %}
	<script>window.location.replace("/");</script>
{% else %}
  {% section "main-collection-banner" %}
  {% section "main-collection-product-grid" %}
{% endif %}